.defaultImg {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: slategrey;
  margin: 0 auto;
}

.left {
  width: 30%;
  height: 250px;
  margin-left: 10%;
  background-color: skyblue;
  position: relative;
}

.button {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  width: 150px;
  display: block;
  margin: 0 auto;
}
